[package]
name = "iced-x86"
version = "1.9.1"# Update html_root_url in lib.rs and usage section in lib.rs/README and version numbers in README docs.rs links
authors = ["0xd4d <de4dot@gmail.com>"]
license = "MIT"
description = "iced-x86 is a high performance and correct x86/x64 disassembler, assembler and instruction decoder written in Rust"
homepage = "https://github.com/0xd4d/iced"
repository = "https://github.com/0xd4d/iced"
readme = "README.md"
# At most 5 keywords can be used
keywords = ["disassembler", "assembler", "x86", "amd64", "x86_64"]
categories = ["no-std", "development-tools::debugging", "encoding", "hardware-support", "wasm"]

[badges]
codecov = { repository = "0xd4d/iced", branch = "master", service = "github" }
maintenance = { status = "actively-developed" }

# These features are documented in README.md / lib.rs
[features]
default = ["std", "decoder", "encoder", "block_encoder", "op_code_info", "instr_info", "gas", "intel", "masm", "nasm", "fast_fmt"]
decoder = []
encoder = []
block_encoder = ["encoder"]
op_code_info = ["encoder"]
instr_info = []
gas = []
intel = []
masm = []
nasm = []
fast_fmt = []
db = []
std = ["lazy_static"]
# no_std feature is needed since std and no_std require different deps
no_std = ["lazy_static/spin_no_std", "hashbrown"]
exhaustive_enums = []
no_vex = []
no_evex = []
no_xop = []
no_d3now = []

[dependencies]
# if: always
static_assertions = "0.3.4"

# if: decoder or encoder or gas or intel or masm or nasm or fast_fmt
# It's not really optional, std or no_std must be used and they both require it.
lazy_static = { version = "1.1.1", optional = true }

# if: no_std and block_encoder
hashbrown = { version = "0.9.0", optional = true }

[build-dependencies]
rustc_version = "0.2.3"
